@page "/me/{Username}"

<style>
    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
        gap: 1rem;
        text-align: center;
        flex-wrap: wrap;
    }

    .banner {
        width: 55rem;
        max-width: 55rem;
        margin-top: 6.5rem;
    }

    #app {
        display: block !important;
    }
</style>

@if (_noInformation)
{
    <span>NO INFO..</span>
}
else if (_isLoading == false)
{
    <PageTitle>@(_user?.Name ?? _user?.Username)</PageTitle>

    <PortfolioHeader>
        <h1>@($"</{FormatNameForTitle(_user is not null ? _user.Name ?? _user.Username : string.Empty)}>")</h1>
    </PortfolioHeader>

    <div class="main">
        @foreach (ESection section in Enum.GetValues(typeof(ESection)))
        {
            var strategy = section.GetContentStrategy();
            @((MarkupString)strategy.CreateContent(_user!))
        }
    </div>

    <PortfolioFooter>
        <span>@($"© Copyright 2022, {_user.Name}. All Rights Reserved.")</span>
        <span>Made with <a href="https://github.com/luizcamargo99/GithubPortfolio" target="_blank" style="color: var(--primaryColor)">Github Portfolio</a> </span>
    </PortfolioFooter>
}



@code {
    [Parameter]
    public string Username { get; set; } = string.Empty;

    [Parameter]
    public string MainColor { get; set; } = string.Empty;

    User? _user { get; set; }
    bool _isLoading = true;
    bool _noInformation = false;

    protected override async Task OnInitializedAsync()
    {
        _user = await SearchUserAsync();

        if (githubService.UserHasNoInformation(_user))
        {
            _noInformation = true;
            return;
        }

        _user.Repositories = await SearchUserReposAsync();
        _isLoading = false;
    }

    async Task<User> SearchUserAsync()
    {
        return await githubService.GetUserAsync(Username);
    }

    async Task<List<Repository>> SearchUserReposAsync()
    {
        List<Repository> repos = new();
        const int limitItemsSearchGithubApi = 100;

        if (_user is null)
        {
            return repos;
        }

        int publicRepos = int.Parse(_user.PublicRepos);

        var pagesCount = publicRepos < limitItemsSearchGithubApi ? 1 : Math.Ceiling((decimal)publicRepos / limitItemsSearchGithubApi);

        for (int i = 0; i < pagesCount; i++)
        {
            int currentPage = i + 1;
            repos.AddRange(await githubService.GetUserRepositoriesAsync(Username, currentPage, limitItemsSearchGithubApi));
        }

        return repos;
    }

    private string FormatNameForTitle(string name)
    {
        if (string.IsNullOrEmpty(name))
        {
            return string.Empty;
        }

        var nameSplitted = name.Split(" ");

        if (nameSplitted.Length > 2)
        {
            var firstNameIndex = 0;
            var lastNameIndex = nameSplitted.Length - 1;
            name = $"{nameSplitted[firstNameIndex]} {nameSplitted[lastNameIndex]}";
        }

        return name.ToLower().Replace(" ", string.Empty);
    }
}